absl-py
pyyaml
numpy==1.23.5
oauthlib==3.1.0
opencv-python
pillow
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
requests
requests-oauthlib
rsa==4.0
scipy
scikit-learn
tensorboard==2.1.1
torchvision
tqdm
urllib3
werkzeug
wheel